.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(227, 227, 255);
}

.homepage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.homepage-header > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.5rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.homepage-header > input {
  border: 1px solid grey;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.4rem;
  width: 100%;
  font-size: 1rem;
}

.react-datetime-picker {
  margin: 0.5rem 0;
  width: 100% !important;
}

.homepage-body {
  width: 100%;
}

.reminder-card {
  display: flex;
  flex-direction: column;
  display: inline-block;
  background: white;
  border-radius: 8px;
  margin: 2rem;
  padding: 1rem 2rem;
  max-width: 350px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.reminder-card > h2 {
  margin-bottom: 1rem;
  color: #1877f2;
}

.reminder-card > p {
  color: grey;
  margin-bottom: 1rem;
}

.reminder-card > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  width: inherit;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.5rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
